@tailwind base;
@tailwind components;
@tailwind utilities;

/* Install font */
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito-Medium.ttf") format("ttf");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Nunito-Bold";
  src: url("./fonts/Nunito-Bold.ttf") format("ttf");
  font-weight: bold;
  font-display: swap;
  font-style: normal;
}

body {
  font-size: theme("fontSize.base");
  font-family: "Nunito", sans-serif;
  background-color: theme("colors.gray");
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito-Bold", sans-serif;
}
