@tailwind base;
@tailwind components;
@tailwind utilities;

/* Install font */
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito-Medium.ttf") format("ttf");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Nunito-Bold";
  src: url("./fonts/Nunito-Bold.ttf") format("ttf");
  font-weight: bold;
  font-display: swap;
  font-style: normal;
}

body {
  font-size: theme("fontSize.base");
  font-family: theme("fontFamily.body");
  background-color: theme("colors.gray.DEFAULT");
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito-Bold", sans-serif;
}

.switch-brand-checked {
  background: theme("colors.brand.primary") !important;
  /* box shadow bottom*/
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}
.switch-brand .ant-switch-handle {
  width: 13.62px;
  height: 13.24px;
  top: 20%;
}

.switch-brand-unchecked {
  border: 1px solid theme("colors.brand.secondary") !important;
}
.switch-brand-unchecked .ant-switch-handle:before {
  background-color: theme("colors.brand.primary") !important;
}
/* .switch-brand; */

.switch-brand.switch-brand-unchecked:hover {
  background-color: transparent;
  opacity: 0.7;
}

.heading-3 {
  font-size: theme("fontSize.heading");
  font-family: theme("fontFamily.title");
  font-weight: medium;
  margin-bottom: 10px;
}

/* Begin Radio */

.radio-brand .ant-wave-target .ant-radio-inner {
  border: solid 1px theme("colors.brand.primary");
}

.radio-brand .ant-radio-checked .ant-radio-inner {
  background-color: theme("colors.brand.primary") !important;
}

.radio-brand .ant-radio-checked .ant-radio-inner::after {
  content: none;
}
/* End Radio */

/* Begin Checkbox brand */
.checkbox-brand .ant-checkbox-inner {
  border: 1px solid theme("colors.brand.primary");
  border-radius: 50%;
}
.checkbox-brand .ant-checkbox-inner:hover {
  border-color: theme("colors.brand.primary");
}
.checkbox-brand .ant-checkbox:hover {
  border-color: theme("colors.brand.primary") !important;
}

.checkbox-brand:hover {
  color: theme("colors.brand.primary");
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  background-color: theme("colors.brand.primary");
}
.ant-checkbox-checked .ant-checkbox-inner:after {
  content: none;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: theme("colors.brand.primary");
}
